<!DOCTYPE html>
<html>

<body>

    <h1>User request Counter</h1>

    <p id="demo">Request Count will be changed.</p>
    <p id="counter">counter = 0;</p>


    <button type="button" onclick="loadDoc()">Request</button>

    <script>
        let count = 1
        function loadDoc() {
            var xhttp = new XMLHttpRequest();
            xhttp.send(document.getElementById("counter").innerHTML = count++);

        }
    </script>

</body>

</html>