
<!DOCTYPE html>
<html>

<body>

  <h1>User request Counter</h1>

  <p id="demo">XMLHttpRequest will be made here.</p>
  <p id="counter">{{counter}}</p>


  <button type="button" onclick="loadDoc()">Request</button>

  

</body>
  <script>
    let count = 1
    function loadDoc() {
      var xhttp = new XMLHttpRequest();
      xhttp.send(document.getElementById("counter").innerHTML = count++);
    }
  </script>

</html>