
<!DOCTYPE html>
<html>

<body>

  <h1>User request Counter</h1>

  <p id="demo">Request Count will be changed.</p>
  <p id="counter">{{counter}}</p>


  <button type="button" onclick="loadDoc()">Request</button>

  

</body>
  <script>
  </script>

</html>